body {
	font-family: Avenir, sans-serif;
	font-size: 0.8rem;
}

#headline {
	text-align: center;
	color: #999;
}

#pink {
	border-bottom: 1px solid deeppink;
	padding-bottom: 0.25rem;
}

circle {
	fill: none;
	stroke: deeppink;
	stroke-width: 1px;
}

line {
	stroke: #ccc;
	stroke-width: 0.5px;	
}

.label {
	fill: #777;
}

#note {
	fill: #aaa;
	font-size: 0.7rem;
}